#side-news {
    display: flex;
    margin-top: 3rem;
    width: 30%;
}

.side {
    display: flex;
    flex-direction: column;
    width: 100%;

}

#hero-side {
    display: flex;
    flex-direction: column;
    border: solid  1px var(--border-color);
    box-shadow: var(--border-color) 0px 7px 17px 3px;
    border-radius: 5px;
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 1rem;
    
}

#hero-side h2 {
    font-size: clamp(0.7rem, 2vw, 1rem);
    margin: 0.5rem 0;
}

#hero-side img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    float: right;
    margin-left: 1rem;
}

.side-news-a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: clamp(0.5rem, 1vw, 1.1rem);
}

.side-news-a:hover {
    text-decoration: underline;

}

.breakline {
    border-left: solid 1px var(--border-color);
    box-shadow: rgba(00, 00, 00, 0.15) 0px 7px 17px 3px;
    margin: 3rem 2rem 0rem 2rem;
}

#sidebar {
    border: solid 1px var(--border-color);
    box-shadow: rgba(00, 00, 00, 0.15) 0px 7px 17px 3px;
    width: 10rem;
    margin-left: 2rem;
    margin-top: 3rem;
    border-radius: 5px;
}

hr {
    border: none;
    border-top: solid 1px var(--border-color);
    margin: 1rem 0;
}